@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Public+Sans:wght@300;400;700&display=swap');

/*  COLORS VARIABLES */
:root {
    
    /* Primary */ 
    --Dark-Blue: hsl(228, 39%, 23%);
    --Bright-Red: hsl(12, 88%, 59%);
    
    /* Neutral */ 
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Pale-Red: rgb(255, 239, 235);
    --Vary-Light-Gray: hsl(0, 0%, 98%);
}

/* GENERAL */
* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none; 
    outline: none;
    scroll-behavior: smooth; 
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* BODY */
body {
    color: var(--Dark-Grayish-Blue);
}

/* Buttons Box*/
.btn_Box {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

/* Section Buttons */
.btn_Box .btn {
    position: relative;
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    color: var(--Vary-Light-Gray);
    font-weight: 500;
    font-size: small;
    width: 14rem;
    height: 4.5rem;
    background: var(--Bright-Red) ;
    border-radius: 12rem;
    box-shadow: 0 .4rem 1rem var(--Bright-Red);
    z-index: 1;
}

.btn_Box .btn:hover {
    width: 14.1rem;
    height: 4.6rem;
}

/* Menu Icon (header) */
#menu_Icon {
    cursor: pointer;
    display: none;
}

/* HEADER SECTION DESIGN */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 6rem 11%;    
    background: transparent;
    z-index: 100;
}

.header_Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Nav-Bar Elements */
.nav_Bar {
    display: flex;
    justify-content: space-between;
    gap: 3.3rem;
}
.nav_Bar a {
    font-size: 1.2rem;
    color: var(--Dark-Blue);
    font-weight: 500;
}

.nav_Bar a:hover,
.nav_Bar a.active {
    color: var(--Dark-Grayish-Blue);
    font-weight: bold;
}

section {
    min-height: 95vh;
    padding: 8rem 11%;
}

/* HOME SECTION DESIGN */
.desktop_Background {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
    z-index: -2;
}
.desktop_Background img {
    position: absolute;
    width: 74rem;
    height: 66rem;
    top: -8rem;
    right: -12rem;
}

.second_Desktop_Background {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    width: 40%;
    height: 80%;
    top: 20rem;
    right: 13rem;
    z-index: -1;
}

.second_Desktop_Background img {
    width: 100%;
    height: 100%;
}

.mobile_Background,
.second_Mobile_Background {
    display: none;
}

.home_Content {
    width: 45%;
}

.home_Content h1 { 
    color: var(--Dark-Blue);  
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -.2rem;
    margin-bottom: 2.6rem;
}

.home_Content p {
    width: 68%;
    font-size: 1.45rem;
    line-height: 1.6;
    margin-bottom: 3.4rem;
}

/* ABOUT US SECTION DESIGN */
.about_us {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35%;
    min-height: fit-content;
    margin-left: 11%;
    margin-top: 2.7rem;
    padding: 0;
}
.about_us_Content {
    width: 100%;
}

.about_us .heading_about_us { 
    color: var(--Dark-Blue);  
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -.15rem;
    margin-bottom: 2.6rem;
}

.about_us_Content p {
    width: 68%;
    font-size: 1.45rem;
    line-height: 1.6;
}

/* CAREERS SECTION DESIGN */
.careers {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height: min-content;
    margin-left: calc(50% - 1.2rem);
    padding: 1rem;
    background-color: red;
}

.careers_Box {
    margin: 0;
    padding: 0;
}

.careers_Content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    padding: 0;
    gap: 1rem;
    background-color: blue;
}


/*************** RESPONSIVE DESIGN ***************/

@media (max-width: 375px) {
    html { 
        font-size: 62%;
        margin: 0;
        padding: 1rem 6% 1rem;
        overflow: hidden;
    }

    .header {
        width: 100%;
        height: 7rem;
        margin-top: 2rem;
    }

    .header_Container {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
    }

    .header_Container .header_Logo img {
        width: 10.5rem;
        height: 1.7rem;
     }

    .header_button {
        display: none;
    }

    #menu_Icon {
        display: block;
        color: var(--Dark-Blue);
        font-size: 3.4rem;
        font-weight: bold;
    }

    .nav_Bar {
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
        top: 100%;
        left: -100%;
        width: 86%;
        height: 45%;
        padding: 3rem 4%;
        background: var(--Vary-Light-Gray);
        box-shadow: 0 1rem 2rem var(--Bright-Red);
        transition-delay: 0s;
    }

    .nav_Bar.active {
        display: flex;
        align-items: center;
        top: 9.6rem;
        left: 2.7rem;
        border-radius: .5rem;
    }

    .nav_Bar a {
        display: block;
        font-size: 1.7rem;
        color: var(--Dark-Blue);
    }

    .desktop_Background .background_One {
        display: none;       
    }

    .mobile_Background {
        display: inline-block;
        position: absolute;
        overflow: hidden;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .mobile_Background img {
        position: absolute;
        width: 42rem;
        height: 38rem;
        top: -5rem;
        left: 5rem;
    }

    .second_Mobile_Background img {
        width: 102%;
        height: 100%;
    }

    /* HOME SECTION DESIGN */
    .home {
        width: 100%;
    }

    .home .home_Content{
        justify-content: center;     
        text-align: center;
        margin-top: .5rem;
    }

    .home_Content h1 {
        color: var(--Dark-Blue);
        font-size: 3.8rem;
        font-weight: bold;
        line-height: 1.2;
    }

    .home_Content p {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-top: .5rem;
    }

    .home .home_button {
        position: relative;
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    
    .home .home_button .btn {
        width: 14rem;
        height: 4.8rem; 
    }

    

}