@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  
  .wrapper {
    @apply w-[90%] lg:w-[80%] mx-auto max-w-screen-xl overflow-hidden;
  }

  .button {
    @apply block px-12 py-4 w-max bg-primary-brightRed text-neutral-varyLightGray rounded-full
  }
}


::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: "#000";
  border-radius: 10px;
}