@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  
  .wrapper {
    @apply w-[90%] lg:w-[80%] 2xl:max-w-[1400px] mx-auto max-w-screen-xl overflow-hidden;
  }

  .button {
    @apply block px-12 py-4 w-max bg-primary-brightRed text-neutral-varyLightGray font-semibold rounded-full
    hover:bg-neutral-veryPaleRed hover:text-primary-brightRed
  }
}


::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: "#000";
  border-radius: 10px;
}