@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  
  .wrapper {
    @apply w-[100%] mx-auto max-w-screen-xl overflow-hidden;
    
  }
}


::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: "#000";
  border-radius: 10px;
}